#### Dependencias

In [5]:
import pyodbc
import pandas as pd
from credenciales_sqlserver import *

#### Par√°metros de la conexi√≥n

- <i style="color:yellow">Habr√≠a que comentar y descomentar la versi√≥n del driver que se encuentra instalado en el sistema donde va a correr el script o el notebook.</i>.
- <i style="color:yellow">Los datos de conexi√≥n (IP, usuario, clave, puerto) no pueden alterarse ya que corresponden a la configuraci√≥n del servidor</i>

In [6]:


connection_string = (
    # f"DRIVER={{ODBC Driver 17 for SQL Server}};"
    # f"DRIVER={{ODBC Driver 18 for SQL Server}};"
    f"DRIVER={{SQL Server}};"
    f"SERVER={SERVER},{PORT};"
    f"DATABASE={DATABASE};"
    f"UID={USERNAME};"
    f"PWD={PASSWORD}"
)

Con la siguiente l√≠nea puedes ver los controladores que tienes instalados.

<code>print(pyodbc.drivers())</code>

#### Funciones t√≠picas

In [7]:
def get_connection():
    return pyodbc.connect(connection_string)

In [8]:
def crear_tabla():
    with get_connection() as conn:
        cursor = conn.cursor()
        cursor.execute("""
            IF OBJECT_ID('Empleados', 'U') IS NULL
            CREATE TABLE Empleados (
                ID INT PRIMARY KEY IDENTITY(1,1),
                Nombre NVARCHAR(100),
                Edad INT
            )
        """)
        conn.commit()
    print("‚úÖ Tabla 'Empleados' creada o ya existente.")

In [9]:
def insertar_empleado(nombre, edad):
    with get_connection() as conn:
        cursor = conn.cursor()
        cursor.execute("INSERT INTO Empleados (Nombre, Edad) VALUES (?, ?)", (nombre, edad))
        conn.commit()
    print(f"‚úÖ Insertado: {nombre}, {edad} a√±os.")

In [10]:
def editar_empleado(id_empleado, nuevo_nombre, nueva_edad):
    with get_connection() as conn:
        cursor = conn.cursor()
        cursor.execute("""
            UPDATE Empleados
            SET Nombre = ?, Edad = ?
            WHERE ID = ?
        """, (nuevo_nombre, nueva_edad, id_empleado))
        conn.commit()
    print(f"‚úèÔ∏è Empleado con ID {id_empleado} actualizado.")

In [11]:
def eliminar_empleado(id_empleado):
    with get_connection() as conn:
        cursor = conn.cursor()
        cursor.execute("DELETE FROM Empleados WHERE ID = ?", (id_empleado,))
        conn.commit()
    print(f"üóëÔ∏è Empleado con ID {id_empleado} eliminado.")

In [12]:
def eliminar_tabla():
    with get_connection() as conn:
        cursor = conn.cursor()
        cursor.execute("DROP TABLE IF EXISTS Empleados")
        conn.commit()
    print("üí• Tabla 'Empleados' eliminada si exist√≠a.")

In [ ]:
def listar_empleados():
    with get_connection() as conn:
        cursor = conn.cursor()
        cursor.execute("SELECT * FROM Empleados")
        for row in cursor.fetchall():
            print(f"ID: {row.ID}, Nombre: {row.Nombre}, Edad: {row.Edad}")

In [14]:
def pd_from_tabla(tabla):
    with get_connection() as conn:
        query = f"SELECT * FROM {tabla}"
        df = pd.read_sql(query, conn)
    return df

#### Ejecuci√≥n del c√≥digo

In [34]:
crear_tabla()

‚úÖ Tabla 'Empleados' creada o ya existente.

In [15]:
insertar_empleado("Juan P√©rez", 30)
insertar_empleado("Ana G√≥mez", 25) 
insertar_empleado("Luis Rodr√≠guez", 40)
insertar_empleado("Mar√≠a L√≥pez", 28)
insertar_empleado("Carlos S√°nchez", 35)

‚úÖ Insertado: Juan P√©rez, 30 a√±os.
‚úÖ Insertado: Ana G√≥mez, 25 a√±os.
‚úÖ Insertado: Luis Rodr√≠guez, 40 a√±os.
‚úÖ Insertado: Mar√≠a L√≥pez, 28 a√±os.
‚úÖ Insertado: Carlos S√°nchez, 35 a√±os.

In [12]:
listar_empleados()

ID: 1, Nombre: Juan P√©rez, Edad: 30
ID: 2, Nombre: Ana G√≥mez, Edad: 25
ID: 3, Nombre: Luis Rodr√≠guez, Edad: 40
ID: 4, Nombre: Mar√≠a L√≥pez, Edad: 28
ID: 5, Nombre: Carlos S√°nchez, Edad: 35