# <span style="background-color:white;color:red;"> ⌛⌛ EN PROGRESO⌛⌛</span>

Con este script trabajaremos en pandas los datos almacenados en la base de datos sql server (servidor remoto). Tarda un minuto aprox en cargar el pandas.

In [2]:
import pandas as pd
import numpy as np
import os, sys, time
from config_bd import get_connection

In [ ]:
with get_connection() as conn:
    query = """
    SELECT * FROM bnb_calendar
    """
    df = pd.read_sql(query, conn)

C:\Users\dsantamaria\AppData\Local\Temp\ipykernel_30588\2722173423.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [4]:
df

,property_id,date,available,price,minimum_nights,maximum_nights
0,21853,2025-03-11,False,30.0,4,40
1,21853,2025-03-12,False,30.0,4,40
2,21853,2025-03-13,False,30.0,4,40
3,21853,2025-03-14,False,30.0,4,40
4,21853,2025-03-15,False,30.0,4,40
...,...,...,...,...,...,...
9236801,1369179411176424072,2026-02-28,True,29.0,1,365
9236802,1369179411176424072,2026-03-01,True,29.0,1,365
9236803,1369179411176424072,2026-03-02,True,29.0,1,365
9236804,1369179411176424072,2026-03-03,True,29.0,1,365
9236805,1369179411176424072,2026-03-04,True,29.0,1,365