In [3]:
""" 
Importación de ficheros de AIRBNB. Preprocesado y cargado a la base de datos 

Obtenemos los datos desde https://insideairbnb.com/get-the-data/

Podríamos hacer scraping, obtener la fecha de la última actualización de Madrid y generar el enlace para descargarlo, pero no es necesario por que se actualiza cada mucho tiempo y no es necesario tener la última versión. Podemos cambiar la info procesable en la carpeta data manualmente.

"""
import os
import pandas as pd
import numpy as np
import datetime
from config_bd import *
import requests
import sys
import gzip
import shutil

DATA_DIR = os.path.join('data')
# DATA_DIR = os.path.join(os.path.dirname(__file__), 'data')
TEMP_DIR = os.path.join(DATA_DIR, 'TEMP')


""" Comprobamos que existe el directorio de datos """

if not os.path.exists(DATA_DIR):
    print(f"El directorio {DATA_DIR} no existe. No es posible continuar...")
    sys.exit()

""" Descomprimimos el archivo de calendario """

if not os.path.exists(TEMP_DIR):
    os.makedirs(TEMP_DIR)


gz_file_path = os.path.join(DATA_DIR, 'calendar.csv.gz')
output_file_path = os.path.join(TEMP_DIR, os.path.splitext(os.path.basename(gz_file_path))[0])

if os.path.exists(gz_file_path):
    try:
        with gzip.open(gz_file_path, 'rb') as f_in:
            with open(output_file_path, 'wb') as f_out:
                shutil.copyfileobj(f_in, f_out)
        print(f"Archivo {gz_file_path} descomprimido como {output_file_path}")
    except Exception as e:
        print(f"Error al descomprimir el archivo {gz_file_path}: {e}")
        sys.exit()
else:
    print(f"El archivo {gz_file_path} no existe. No es posible continuar...")
    sys.exit()

Archivo data\calendar.csv.gz descomprimido como data\TEMP\calendar.csv

In [15]:
df = pd.read_csv(output_file_path, low_memory=False)
df['price'] = df['price'].replace({'\$': '', ',': ''}, regex=True).astype(float)
df['price'] = df['price'].fillna(0)

In [16]:
df.describe()

         listing_id         price  minimum_nights  maximum_nights
count  9.236806e+06  9.236806e+06    9.229917e+06    9.229917e+06
mean   6.438998e+17  2.116178e+02    1.016846e+01    6.144271e+02
std    5.357870e+17  6.396718e+02    3.082246e+01    4.476395e+02
min    2.185300e+04  8.000000e+00    1.000000e+00    1.000000e+00
25%    3.676007e+07  5.500000e+01    1.000000e+00    3.640000e+02
50%    8.115293e+17  9.200000e+01    2.000000e+00    3.650000e+02
75%    1.142566e+18  1.600000e+02    6.000000e+00    1.125000e+03
max    1.369179e+18  2.100000e+04    1.125000e+03    1.111100e+04

In [20]:
len(df['listing_id'].unique())

25288

In [19]:
len(df['date'].unique())

372