Con este script trabajaremos en pandas los datos almacenados en la base de datos sql server (servidor remoto). Tarda un minuto aprox en cargar el pandas.

In [1]:
import pandas as pd
import numpy as np
import os, sys, time
from config_bd import get_connection

In [2]:
with get_connection() as conn:
    query = """
    SELECT * FROM bnb_calendar
    """
    df = pd.read_sql(query, conn)

C:\Users\dsantamaria\AppData\Local\Temp\ipykernel_5192\598123916.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [3]:
df

,property_id,date,available,price,minimum_nights,maximum_nights
0,30320,2025-03-10,False,65.0,5,180
1,30320,2025-03-11,False,65.0,5,180
2,30320,2025-03-12,False,65.0,5,180
3,30320,2025-03-13,False,65.0,5,180
4,30320,2025-03-14,False,65.0,5,180
...,...,...,...,...,...,...
6138570,1368991577357063431,2026-03-05,True,75.0,5,365
6138571,1368991577357063431,2026-03-06,True,75.0,5,365
6138572,1368991577357063431,2026-03-07,True,75.0,5,365
6138573,1368991577357063431,2026-03-08,True,75.0,5,365
6138574,1368991577357063431,2026-03-09,True,75.0,5,365